body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table, th, td {
    border: 1px solid;
    border-color: rgb(136, 136, 136);
}

table {
    width: 80%;
    margin: 10px 0px 20px 0px;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    text-align: center;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.add-button {
    background-color: rgb(145, 104, 187);
}

.resistor {
    margin: 10;
}

.resistor.series {
    background-color: lightblue;
}

.resistor.parallel {
    background-color: lightgreen;
}