<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body class="App">
    <form>
      <input type="text" value="12" name="B" />
      <input
        type="button"
        value="Add Series Resistor"
        class="add-button"
        id="add-series-resistor-button"
      />
      <input
        type="button"
        value="Add Parallel Resistor"
        class="add-button"
        id="add-parallel-resistor-button"
      />
      <input type="submit" value="Submit" id="submit-button" />
    </form>
  </body>
</html>
