<html>
  <head>
    <title>{{ title }}</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    /> -->
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body class="App">
    <div id="controls">
      <input type="radio" name="mode-selector" id="series" checked />
      <label for="series">Series</label>
      <input type="radio" name="mode-selector" id="parallel" />
      <label for="parallel">Parallel</label>
      <input type="button" value="Step Back" id="step-back-btn" />
      <input type="checkbox" name="Pierce" id="pierce" />
    </div>

    <form>
      <ul>
        <li>
          <input
            type="number"
            step="any"
            value="12"
            id="voltage-field"
            required
          />
        </li>
      </ul>
      <input type="button" value="Add Resistor" id="add-resistor-btn" />
      <input type="reset" value="Reset" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
